<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>A-Custom Tiri 페이지</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Stylish&amp;display=swap" rel="stylesheet">
         <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
        <style type="text/css">
            * {
                font-family: 'Gugi', cursive;

            }
            .jumbotron{
                 width: 800px;
                margin: 20px auto;
            }

                /*width: 400px;*/
                /*margin: 20px auto;*/
                /*padding: 50px;*/
                /*border: black solid;*/
                /*border-radius: 5px;*/
            p{
                text-align: center;
            }
            p.lead{
                text-align: left;
            }
            h1{
                text-align: right
            }
            #list-box>tr{
                text-align: center;
                margin: auto;
            }


        </style>

        <script>

            $(document).ready(function() {
                $("#list-box").html("");
                showprog()
            })
            function showprog() {

                $.ajax({
                    type: "GET",
                    url: "/tiri",
                    data: {},
                    success: function (response) {
                        if (response["result"] == "success"){
                            let lists=response["TV_list"]
                            console.log(lists)
                            for(let i=0;i<lists.length;i++){
                                makeTiri(lists[i])
                                // if(response[i]['카테고리']=='방송3사'){
                                //     clickA()
                                // } else if(response[i]['카테고리']=='뉴스'){
                                //     clickB()
                                // } else if(response[i]['카테고리']=='예능'){
                                //     clickC()
                                // } else if(response[i]['카테고리']=='영화'){
                                //     clickD()
                                // } else if(response[i]['카테고리']=='스포츠'){
                                //     clickE()
                                // } else if(response[i]['카테고리']=='드라마'){
                                //     clickF()
                                // }

                        }
                        alert(response["msg"])
                    }
                }
            })
            }
            function makeTiri(onelist) {
                let category=onelist['카테고리']
                let channel=onelist['채널']
                let program=onelist['프로그램']
                let list_temp=`<tr class="${category}">
                                <td>${channel}</td>
                                <td>${program}</td>
                            </tr>`
                $('#list-box').append(list_temp)

            }





            // 버튼 누를 시 방송정보 받아오기
            function clickA(category) {
                $('#list-box>tr').hide()
                $("."+category).show()
            }

        </script>
        <h1 id="clock" style="color:lightskyblue;">00:00</h1>
        <script>
            //전자시계
            var clockTarget = document.getElementById("clock");
            function clock() {
                var date = new Date();
                // date Object를 받아오고
                var month = date.getMonth();
                // 달을 받아옵니다
                var clockDate = date.getDate();
                // 몇일인지 받아옵니다
                var day = date.getDay();
                // 요일을 받아옵니다.
                var week = ['일', '월', '화', '수', '목', '금', '토'];
                // 요일은 숫자형태로 리턴되기때문에 미리 배열을 만듭니다.
                var hours = date.getHours();
                // 시간을 받아오고
                var minutes = date.getMinutes();
                // 분도 받아옵니다.
                var seconds = date.getSeconds();
                // 초까지 받아온후
                clockTarget .innerText = `${month+1}월 ${clockDate}일 ${week[day]}요일` +
                    `${hours < 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes }`  : minutes }:${seconds < 10 ? `0${seconds }`  : seconds }`;
                // 월은 0부터 1월이기때문에 +1일을 해주고
                // 시간 분 초는 한자리수이면 시계가 어색해보일까봐 10보다 작으면 앞에0을 붙혀주는 작업을 3항연산으로 했습니다.
            }

            function init() {
                clock();
                // 최초에 함수를 한번 실행시켜주고
                setInterval(clock, 1000);
                // setInterval이라는 함수로 매초마다 실행을 해줍니다.
                // setInterval은 첫번째 파라메터는 함수이고 두번째는 시간인데 밀리초단위로 받습니다. 1000 = 1초
            }
            init();
        </script>


    </head>
    <body>
        <div class="wrap">
                <div class="jumbotron">
                    <h1 class="display-4">하이 Tiri, 오늘은 뭘 볼까?</h1>
                    <p></p>
                    <p class="lead">Tiri: 관심있는 카테고리를 골라보세요!</p>
                    <hr class="my-4">

                </div>

            <div class="options">
                <p>
                    <a href="#"><button onclick="clickA('방송3사')" class="btn btn-primary" id='main' role="button">방송3사</button></a>
                    <a href="#"> <button onclick="clickA('뉴스')" class="btn btn-light"  id="news" role="button">뉴스</button></a>
                    <a href="#"><button onclick="clickA('영화')" class="btn btn-danger"  id='movie' role="button">영화</button></a>
                    <a href="#"><button onclick="clickA('스포츠')" class="btn btn-success"  id="sports" role="button">스포츠</button></a>
                    <a href="#"><button onclick="clickA('예능')" class="btn btn-warning"  id="entertain" role="button">예능</button></a>
                    <a href="#"><button onclick="clickA('드라마')" class="btn btn-secondary"  id="drama" role="button">드라마</button></a>

                </p>
                <table>
                    <thead>
                        <tr>
                            <td>TV 프로그램 목록 &gt;</td>
                        </tr>
                    </thead>
                    <tbody class='all' id="list-box">
                    </tbody>
                </table>


            </div>
        </div>
    </body>
</html>