<!doctype html>
<html lang="en">
  <head>

    <!-- Webpage Title -->
    <title>선택 페이지</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<!-- JS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <style>
      .btn btn-danger{
        text-align: center;
      }
      .btn btn-primary{
        text-align: center;
      }
    </style>
    <script>
      // 로딩 후 바로 실행
      $(document).ready(function(){
          if ( $.cookie('mytoken') == undefined ) {
            // mytoken이라는 값으로 쿠키가 없으면, 로그인 창으로 이동시킵니다.
            alert('먼저 로그인을 해주세요')
            window.location.href='/login'
          } else {
            // 쿠기가 있으면, 유저 정보를 불러옵니다.
            load_user_info()
          }
      });

      // 쿠키에 가지고 있는 token을 헤더에 담아서 보냅니다.
      function load_user_info(){
        $.ajax({
          type: "GET",
          url: "/api/nick",
          headers: { 'token_give' : $.cookie('mytoken') },
          data: {},
          success: function(response){
            if (response['result'] == 'success'){

              // 올바른 결과값을 받으면 nickname을 입력해줍니다.
              $('#nickname').text(response['nickname'])
            } else{

              // 에러가 나면 메시지를 띄우고 로그인 창으로 이동합니다.
              alert(response['msg'])
              window.location.href='/login'
            }
          }
        })
      }

      // 로그아웃은 내가 가지고 있는 토큰만 쿠키에서 없애면 됩니다.
      function logout(){
        $.removeCookie('mytoken');
        alert('로그아웃!')
        window.location.href='/login'
      }
      function movetiri(){
        alert('Tiri 페이지로 이동합니다.')
        window.location.href='/tiris'
      }
      function movenats(){
        alert('Nats 페이지로 이동합니다.')
        window.location.href='https://www.mlb.com/nationals/schedule'
      }

    </script>

  </head>
  <body>
    <ul class="list-group">
      <li class="list-group-item active"><h1>환영합니다!페이지 버튼을 눌러주세요:)</h1></li>
      <li class="list-group-item"><h2>*30초 안에 버튼을 누르지 않을 시 자동으로 로그아웃이 됩니다.*</h2></li>
      <li class="list-group-item"><h5>My Nickname: <span id="nickname"></span></h5></li>
    </ul>
    <button type="button" class="btn btn-success" onclick="logout()">로그아웃 </button>
    <button type="button" class="btn btn-primary" onclick="movetiri()">Tiri</button>
    <button type="button" class="btn btn-danger" onclick="movenats()">Nats</button>
  </body>
</html>